.sec-nav{
    display:flex; 
    justify-content: center
}

.sec-nav-opciones{
    display:flex; 
    justify-content:space-between
}

.sec-nav-lista{
    display: flex; 
    text-indent: 20px; 
    list-style-type: none;
}

.anchor-nav-lista{
    text-decoration: none; 
    color:rgb(85, 85, 85); 
    font-family: "Train One", system-ui;
    font-weight: 400;
    font-style: normal;
}
  